table.calendar{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    border-collapse: collapse;
    box-sizing: border-box;
}
table.calendar.round {
    border-collapse: separate !important;
}
table.calendar td, th {
  display: table-cell;
    height: 1.4em;
    border-collapse: collapse;
    box-sizing: border-box;
}

table.calendar th.weekDayHeader {
    width: 2.4em;
    color: #081d58;
}

table.calendar th.monthHeader {
	text-align: left;
    height: 1.4em;
}

table.calendar th.monthHeader span {
    position: absolute;
    margin-top: -0.7em;
}

table.calendar td.day {
    width: 1.4em;
    border: 1px solid #081d58;
}

table.calendar.round td.day {
    width: 1.4em;
    border: 0px;
    border-radius: 0.7em;
}
table.calendar.no-border td.day {
    width: 1.4em;
    border: none !important;
}
table.legendTable td {
    width: 2.8em;
    height: 0.5em;
    border: 1px solid #081d58;
    box-sizing: border-box;
}

table.legendTable {
    border-collapse: collapse;
}
div.legend {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 2em;
    padding-left: 2.4em;
}

div.legend table .legend-label{
    text-align: center;
}

div.legend table .legend-label span{
    margin-right: -2.8em;
}
